
.wrapper {
	margin-top: 200px;
	margin-bottom: 50px;
}

.validation-message {
	font-style: normal;
	font-size: 5px;
	color: #FF1C19;
}

#form-signup {
	max-width: 420px;
	padding-top: 30px;
	padding-left: 50px;
	padding-right: 1px;
	padding-bottom: 10px;
	margin: 0 auto;
	background-color: transparent;
	
}

.form-signin {
	max-width: 420px;
	padding-top: 0px;
	padding-left: 42px;
	padding-right: 1px;
	padding-bottom: 66px;
	margin: 0 auto;
	background-color: transparent;
}

.form-control {
	position: relative;
	font-size: 16px;
	height: auto;
	padding: 10px;
}

.container {
	padding-top: 10px;
}

.form-signin-heading {
	color: white;
	padding-top: 0px;
	padding-left: 1px;
	padding-right: 80px;
	padding-bottom: 5px;
	margin-bottom: 25px;
}
.logo {
       width: 200px;
       height: 200px;
       margin-right: auto;
       margin-top: 10px; 
       margin-left: 50px;
       border-radius: 50%;
     }

.navbar {
 display: flex;
 align-items: center;
 justify-content: space-between;
 padding: 20px;
 background-color: transparent;
 color: black;
}
